/* Mobile screen size 375px x 2615px */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Mobile Style */

body{
    width: 375px;
    height: 2615px;
    font-family: "Plus Jakarta Sans";
    box-sizing: border-box;
    /* overflow: hidden; */
    font-size: 16px;
}

/*Header*/

header{
    width: 348px;
    height: 48px;
    margin: 16px 16px 38px 16px;
    
}

.div-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-logo{
    padding-top: 12px;
}

.logo{
    width: 89px;
}

.btn-header{
    width: 140px;
    height: 100%;
    border-radius: 28px;
    border: 0;
    color: #fff;
    background-color: #12183F;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
}

/* Main Section */

/* Topic */

.principal{
    width: 343px;
    height: 285px;  /* Tomar en cuenta esta medida*/
    margin: 0 16px 61px 16px;
}

.principal h1{
    color: #13183F;
    font-weight: 800;
    font-size: 2.5rem;
    height: 101px;
    margin-bottom: 26px;
}

.principal p{
    color: #83869A;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    height: 78px;
    margin-bottom: 24px;
}

.principal button{
    width: 167px;
    height: 56px;
    background-image: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: #fff; 
}

/* Section for images in all sizes */

/* Mobile Section */
.images{
    margin: 30px 24px 66px 24px;
}

#image-hero-mobile{
    background-image: url(./assets/image-hero-mobile.png);
     background-size: 112%;
    background-repeat: no-repeat;
    width: 327px;
    height: 301px;
}

/* Courses Section */

.courses{
    width: 100%;
    height: 1695px;
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
}

/* Course div */
.courses-div{
    width: 343px;
    height: 1615px;
    margin: 0 auto;
}

/* Description */

.description{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    margin-bottom: 16px;
}

.description h2{
    width: 286px;
    height: 64px;
    padding: 24px 29px 32px 28px;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 32px;
    color: #fff;
    font-style: normal;
}

/* Every Course div  */
.course{
    width: 343px;
    height: 283px;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    margin-bottom: 16px;
}

.course-desc{
    background: #fff;
    height: 259px;
    /* padding-top: 24px; */
}

.animation, .design{
    /* box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    margin-bottom: 16px; */
}

.animation-desc {
    
}

.course img{
    position: relative;
    left: 28px;
    z-index: 2;
}

.animation-desc, .design-desc, .photogrphy-desc, .crypto-desc, .business-desc{
    /* padding: 32px 0 0 28px; */
    position: relative;
    top: -36px;
    padding-left: 28px;
    border-radius: 10px;
}

.course-desc h3{
    padding-top: 56px;
    padding-bottom: 16px;
    color: #13183F;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 25px;
}

.course-desc p{
    padding-bottom: 24px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    color: #83869A;
    font-style: normal;
}

.course-desc a{
    color: #f74780;
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
}

/*FOOTER*/

footer{
    width: 375px;
    height: 120px;
    background-color: #13183F;
    
}

.footer{
    padding: 36px 16px;
    width: 343px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-img{
    width: 89px;
    height: 25px;
    padding: 7px 0 6px;
}

.btn-footer{
    width: 140px;
    height: 100%;
    background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 28px;   
}

/* Tablet style */
/* Revisar si la medida esta bien */
@media (min-width: 376px) {
    body{
        width: 768px;
        height: 1760px;
        background: #fff;
    }

    /* Header for Tablet Device */
     
    header{
        width: 689px;
        margin: 24px 40px 99px 39px;
    }

    /* Main Section */
    .top{
        display: flex;
        flex-direction: row;
        height: 450px;
        width: 100%;
    }
    .principal{
        width: 50%;
        height: 284px;
        margin-left: 39px;
        display: inline-block;
        
    }

    .principal h1{
        width: 326px;
        height: 101px;
        margin-bottom: 25px;
        line-height: 50.4px;
        
    }

    .principal p{
        width: 398px;
        height: 79px;
    }

    .images{
        overflow-y: hidden;
        height: 640px;
        width: 50%;
        position: relative;
        top: -290px;
        left: -55px;
        margin: 0 -55px 0 0;
    }

    #image-hero-mobile{
        display: none;
    }
    #image-hero-tablet{
        background: url(./assets/image-hero-tablet.png);
        width: 640.71px;
        height: 640px;
        /* display: inline-block; */
        
        z-index: 2;
        margin: 0;
    }

    /* Course Section */

    .courses{
        height: 999px;
        margin-top: 44px;
    }

    .courses-div{
        width: 689px;
        height: 913px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .description{
        width: 339px;
        height: 259px;
    }

    .description h2{
        padding: 56px 21px 139px 32px;
    }

    /* Every Course div  */
    .course{
        width: 340px;
        height: 283px;
        margin-bottom: 32px;
    }

    .animation, .animation-desc{
        height: 240px;
    }

    /* Footer */

    footer{
        width: 100%;
    }

    .footer{
        width: 689px;
        height: 48px;
        padding: 36px 39px 36px 40px;
    }
}